@model Gee_Whiz_Software_Test.ViewModels.PreviousBlockForecastViewModel
<div class="row">
    <div class="col-sm-12">
        <h2>Previous Block Forecasts</h2>
    </div>
</div>
@*Check to see if there are any results.*@
@if (Model.previousBlockForecasts.Count == 0)
{
    //No results, so we'll just say that there are no results.
    <div class="row">
        <div class="col-sm-12">
            <p>No previous forecast results returned.</p>
        </div>
    </div>
}
else
{
    //We have results, so we'll manually build a "table".  This is the header row.
    <div class="row">
        <div class="col-sm-2">Block Id</div>
        <div class="col-sm-2">Crop Year</div>
        <div class="col-sm-2">Forecast Value</div>
    </div>

    //Next, we'll run through the block search results, and add a new "row" for every record.
    foreach (var rec in Model.previousBlockForecasts)
    {
        <div class="row">
            <div class="col-sm-2">@rec.blockId</div>
            <div class="col-sm-2">@rec.cropYear</div>
            <div class="col-sm-2">@rec.forecastValue</div>
        </div>
    }
}
